body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #1E1C24;
    background-image: url("../img/bg@1X.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
p {
    color: #B1AAAA;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 0;
}
h1 {
    font-size: 50px;
    margin-top: 80px;
    font-weight: 700;
}
h2 {
    font-size: 40px;
    font-weight: 700;
}
h2.title {
    text-align: center;
    margin-bottom: 80px;
}
a {
    margin-right: 50px;
}
.section_d {
    margin: 100px 0;
}
.input__btn {
    margin-top: 20px;
}
input {
    background-color: transparent;
    outline: none;
    width: 330px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 30px;
    padding: 15px 20px;
}
button {
    color: #fff;
    background-color: #2f6eeb;
    border: none;
    outline: none;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
    padding: 15px 30px;
}
.taskia__intro p {
    padding: 30px 0;
}
.nav {
    margin-bottom: 70px;
}
.nav span {
    font-size: 60px;
    font-weight: 900;
    color: #525FFB;
}
.nav button {
    color: #525FFB;
    background: transparent;
    border: 3px solid #525FFB;
    border-radius: 40px;
    padding: 15px 40px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
}
.nav button:hover {
    background-color: #525FFB;
    color: #fff;
}
.service {
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    color: #fff;
    margin-right: 20px;
}
.service img {
    margin: 30px;
    width: 100px;
    height: 80px;
}
.service h3 {
    padding: 20px 30px;
}
.service p {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}
.serv__first {
    background-color: #525FFB;
}
.serv__scnd {
    background-color: #E9F0FF;
    color: #1E1C24;
}
.serv__third {
    background-color: #FFE7AA;
    color: #1E1C24;
}
.serv__scnd p,
.serv__third p {
    color: #1E1C24;
}
.num h1 {
    line-height: 400px;
    font-size: 90px;
    color: #525ffe;
}
.contact {
    text-align: center;
}
.contact h2 {
    margin-bottom: 20px;
}
.contact p {
    font-weight: 100;
}
.contact .input__btn {
    margin-top: 50px;
}

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}
.hvr-sink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
}
.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
.hvr-bounce-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-bounce-out:hover, .hvr-bounce-out:focus, .hvr-bounce-out:active {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}



@media only screen and (max-width: 600px) {
    .section_d {
        margin: 60px 0;
    }
    h1 {
        font-size: 44px;
        margin-top: 0;
    }
    h2 {
        font-size: 34px;
    }
    h2.title {
        margin-bottom: 50px;
    }
    p {
        font-size: 14px;
        font-weight: 500;
    }
    h2, p {
        margin: 20px auto;
    }
    .contact h2 {
        margin-bottom: 20px;
    }
    .num h1 {
        line-height: 150px;
        font-size: 70px;
        text-align: center;
    }
    .contact .input__btn {
        margin-top: 30px;
    }
    .input__btn button {
        display: block;
    }
    .input__btn button,
    .input__btn input {
        padding: 10px 15px;
        width: 100%;
    }
    .nav span {
        font-size: 44px;
    }
    .nav button {
        font-size: 16px;
        padding: 10px 30px;
    }
    .taskia__intro {
        margin-top: 30px;
    }
    .taskia__intro p {
        padding: 15px 0;
    }
    .service {
        margin: 30px;
        padding: 20px;
    }
    .service h3 {
        padding: 15px;
    }
    .service p {
        margin: 10px;
    }
    .trust__us img {
        height: auto;
        display: block;
        margin: 20px auto;
        width: 45%;
    }
    .learn__more button {
        padding: 10px 20px;
    }
    .workflow a {
        margin-right: 20px;
    }
    .workflow a img {
        margin-bottom: 30px;
        width: 30px;
    }
}